nav {
  height: 20vh;
  width: 100%;
  background: #2B2628;
  display: flex;
  justify-content: space-between;
}

.drawer {
  margin-right: 5rem;
  margin-top: 1rem;
  font-size: 25px;
  color: #CCCCCC;
}

main {
  display: flex;
  flex-direction: column;
  margin: auto;
  height: 80vh;
  width: 100%;
  background: #2B2628;
  vertical-align: middle;
}

main {
  position: relative;
}

a {
  text-decoration: none;
  color: #CCCCCC;
}

.title {
  position: absolute;
  top: 50%;
  left: 50%;
  text-align: center;
  color: #CCCCCC;
  font-size: 50px;
  transform: translate(-50%, -50%);
  font-weight: bold;
  line-height: 3rem;
}

.descricao, .contact {
  line-height: 1.5rem
}

.descricao {
  position: absolute;
  bottom: 10%;
  left: 3rem;
  text-align: start;
  color: #CCCCCC;
  font-size: 20px;
  font-weight: bold;
}

.contact {
  position: absolute;
  bottom: 10%;
  right: 3rem;
  text-align: end;
  color: #CCCCCC;
  font-size: 20px;
  font-weight: bold;
}
